@model IEnumerable<MedicalClinic.Models.ApplicationUser>

@{
    ViewData["Title"] = "EditUser";
}

<h2>Edytuj użytkownika</h2>
<div id="testtable">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
                <th>
                   @Html.DisplayNameFor(model => model.EmailConfirmed)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>

            <td>
                <a class="send_button" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                <a class="send_button" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                <a class="send_button" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>

