@model IEnumerable<MedicalClinic.Models.ApplicationUser>

@{
    ViewData["Title"] = "EditUser";
}

<h2>Edytuj użytkownika</h2>
<div id="testtable">
<table class="table">
    <thead>
        <tr>
                <th>
                    Nazwa użytkownika
                </th>
                <th>
                    Email
                </th>
                <th>
                    Potw.
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>

            <td>
                <button class="send_button" type="submit"><a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a></button>
                <button class="send_button" type="submit"><a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a></button>
                <button class="send_button" type="submit"><a asp-action="Delete" asp-route-id="@item.Id">Usuń</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>

