<<<<<<< HEAD
﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MedicalClinic</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">MedicalClinic</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Start</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="ForPatient">Dla pacjenta</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="ForEmployee">Dla pracownika</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Kontakt</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="navbar navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text">&copy; 2018 - MedicalClinic</p>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
=======
﻿/* Michał Dyrcz Base #1
    Usunalem <br/> ze stopki
*/

<!doctype html>
<html lang="pl_PL">
<head runat="server">
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    @RenderSection("Styles", false)

    <style>
        body {
            background-color: white;
            color: black;
            text-align: center;
        }

        span {
            font-size: 1.5em;
            display: inline-block;
        }

        a {
            font-size: 1em;
            color: #0f5e6a;
        }

            a:hover {
                color: #6d6d6d;
                text-decoration: none;
            }

        .menu-lista a {
            color: white;
            font-size: 1.2em;
        }

            .menu-lista a:hover {
                color: white;
                text-decoration: none;
            }

        .menu-lista > li:hover {
            box-shadow: 0 0 15px 1px #0f3d44 inset;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        
        .services{
            list-style-type: circle;
        }

        #invite{
            font-size: 15pt;
        }

        label > span {
            padding: 10px;
            font-weight: 500;
            font-size: 1.2em;
            width: 200px;
        }

        input {
            margin: auto;
            width: auto;
            padding: 0 5px;
            height: 50px;
            font-size: 1.2em;
            border: 1px solid #CCC;
        }


        .header {
            height: 18%;
            font-size: 1.5em;
            text-align: left;
            padding: 25px;
        }

            .header a {
                font-size: 0.7em;
                color: #0f5e6a;
            }

            .header span {
                color: #0f5e6a;
                font-weight: 700;
                text-shadow: 1px 0px 1px black;
            }

            .header li {
                margin: 20px;
            }

        .content {
            border-bottom: 1px solid #DDD;
        }

            .content > div {
                padding-top: 30px;
                padding-bottom: 30px;
                text-align: left;
            }

        .menu {
            background-color: #0f5e6a;
            color: white;
        }

        .footer {
            background-color: #0f5e6a;
            color: white;
            padding: 15px;
        }

        .btn {
            width: 150px;
            margin: auto;
        }

            .btn:focus {
                box-shadow: none;
            }

        .form-header {
            font-size: 1.5em;
            text-align: center;
            padding: 25px;
            color: #0f5e6a;
            font-weight: 700;
            border-bottom: 1px solid #DDD;
        }

        .form-content > div {
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
        }

        input[type="submit"] {
            margin: 20px 0;
        }

        .pin{
        }

    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="header row justify-content-center">
            <div class="col-md-9 align-self-center">
                <span>PRZYCHODNIA LEKARSKA</span>
            </div>
            <div class="col-md-2 align-self-center">
                <ul class="list-inline">
                    <li class="list-inline-item"> @Html.ActionLink("Logowanie", "SignIn", "Home")</li>
                    <li class="list-inline-item"> @Html.ActionLink("Rejestracja", "SignUp", "Home")</li>
                </ul>
            </div>
        </div>
        <div class="row menu justify-content-center">
            <div class="col-md-12">
                <ul class="list-inline menu-lista">
                    <li class="list-inline-item btn" role="button">@Html.ActionLink("Start", "Index", "Home")</li>
                    <li class="list-inline-item"><a href="#patient_service" class="btn" role="button">Dla pacjenta</a></li>
                    <li class="list-inline-item"><a href="#employee_service" class="btn" role="button">Dla pracownika</a></li>
                    <li class="list-inline-item"><a href="#contact" class="btn" role="button">Kontakt</a></li>
                </ul>
            </div>
        </div>
        <div id="content">
            @RenderBody()
        </div>
        <div class="row justify-content-center footer">
            <div class="col-md-12 align-self-center">
                Stopka
            </div>
        </div>
    </div>
>>>>>>> origin/master
</body>
</html>
