@model MedicalClinic.Models.PatientViewModels.VisitHistoryViewModel

@{
    ViewData["Title"] = "Odwołaj wizytę";
}

<h2>@ViewData["Title"]</h2><hr />
<h3>Czy na pewno chcesz odwołać tę wizytę?</h3>
<div class="container">
    <div class="row">
        <div class="col-md-5" id="visits_div">
            <b>Data wizyty:</b> @Html.DisplayFor(model => model.DateOfApp)<br />
            <b>Godzina:</b> @Html.DisplayFor(model => model.Hour)<br />
            <b>Lekarz:</b> @Html.DisplayFor(model => model.DoctorFirstName) @Html.DisplayFor(model => model.DoctorLastName)<br />
            <b>Specjalizacja:</b> @Html.DisplayFor(model => model.Specialization)<br />
            <form asp-action="AcceptCancellation">
                <div class="form-group" hidden>
                    <input asp-for="Id" class="form-control" />
                </div>
                <div>
                    <a asp-area="" asp-controller="Clerk" asp-action="Visits" asp-route-id="@Model.PatientId" class="text_format" style="float:right;">Powrót</a>
                    <input type="submit" value="Odwołaj" class="send_button" style="float: right;" />
                </div>
            </form>
        </div>
    </div>
</div>
