@model MedicalClinic.Models.ClerkViewModels.VisitsToConfirmViewModel

@{
    ViewData["Title"] = "Potwierdź wizytę";
}

<h4>@ViewData["Title"]</h4>
<h5>Informacje o wizycie</h5>
<a asp-area="" asp-controller="Clerk" asp-action="ConfirmVisit">Powrót</a>
    <div class="container">
            <div class="row">
                <div class="col-md-5" style="border: 1px solid #CCC; margin: 20px; padding: 20px;">
                    <b>Data wizyty:</b> @Html.DisplayFor(model => model.DateOfApp)<br />
                    <b>Godzina:</b> @Html.DisplayFor(model => model.Hour)<br />
                    <b>Pacjent:</b> @Html.DisplayFor(model => model.PatientFirstName) @Html.DisplayFor(model => model.PatientLastName)<br />
                    <b>Lekarz:</b> @Html.DisplayFor(model => model.DoctorFirstName) @Html.DisplayFor(model => model.DoctorLastName)<br />
                    <b>Specjalizacja:</b> @Html.DisplayFor(model => model.Specialization)<br />
                    <form asp-action="AcceptConfirmation">
                        <div class="form-group" hidden>
                            <input asp-for="Id" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Potwierdź" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
    </div>
