@model IEnumerable<MedicalClinic.Models.ClerkViewModels.VisitsToConfirmViewModel>

@{
    ViewData["Title"] = "Potwierdź wizytę";
}

<h2>@ViewData["Title"]</h2>

@if (!Model.Any())
{
    <span class="text_information">Brak wizyt wymagających potwierdzenia.</span>
}
else
{
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-5" id="visits_div">
                    <b>Data wizyty:</b> @Html.DisplayFor(modelItem => item.DateOfApp)<br />
                    <b>Godzina:</b> @Html.DisplayFor(modelItem => item.Hour)<br />
                    <b>Pacjent:</b> @Html.DisplayFor(modelItem => item.PatientFirstName) @Html.DisplayFor(modelItem => item.PatientLastName)<br />
                    <b>Lekarz:</b> @Html.DisplayFor(modelItem => item.DoctorFirstName) @Html.DisplayFor(modelItem => item.DoctorLastName)<br />
                    <b>Specjalizacja:</b> @Html.DisplayFor(modelItem => item.Specialization)<br />
                    <a asp-area="" asp-controller="Clerk" asp-action="AcceptConfirmation" asp-route-id="@item.Id" class="text_format" style="float: right;">Potwierdź</a>
                </div>
            </div>
        }
    </div>
}
