@model IEnumerable<MedicalClinic.Models.PatientViewModels.VisitHistoryViewModel>

@{
    ViewData["Title"] = "Obsługa wizyt";
}

<h4>@ViewData["Title"]</h4>
<hr/>
@if (!Model.Any())
{
    <span class="text_information">Brak wizyt.</span>
}
else
{
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-5" id="visits_div">
                    <b>Data wizyty:</b> @Html.DisplayFor(modelItem => item.DateOfApp)<br />
                    <b>Godzina:</b> @Html.DisplayFor(modelItem => item.Hour)<br />
                    <b>Lekarz:</b> @Html.DisplayFor(modelItem => item.DoctorFirstName) @Html.DisplayFor(modelItem => item.DoctorLastName)<br />
                    <b>Specjalizacja:</b> @Html.DisplayFor(modelItem => item.Specialization)<br />
                    @if (item.IsConfirmed == 0)
                    {
                        <br/><span class="text_information">Wizyta niepotwierdzona.</span><br />
                    }
                    else
                    {
                        <br/><span class="text_information">Wizyta potwierdzona.</span><br />
                    }
                    <a asp-area="" asp-controller="Clerk" asp-action="AcceptCancellation" asp-route-id="@item.Id" asp-route-patientid="@item.PatientId" class="text_format" style="float: right;">Odwołaj</a>
                </div>
            </div>
        }
    </div>
}

