@model MedicalClinic.Models.MessageModel

@{
    ViewData["Title"] = "Usuń wiadomość";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuń</h2>

<h3>Czy na pewno chcesz usunąć tę wiadomość?</h3>
<div>
    <hr />
    <div class="col-md-6" id="comment_div">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReceiverEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceiverEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SenderEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SenderEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
        </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="send_button" /><br /><br/>
        <a asp-action="Index" class="text_format">Powrót do wiadomości</a>
    </form>
</div>
