@model IEnumerable<MedicalClinic.Models.MessageModel>

@{
    ViewData["Title"] = "Wiadomości";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wiadomości</h2>

<h4 class="text_information">Twoje wiadomości</h4>
<div class="col-md-10" id="table_style">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SenderEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SenderEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.ReceiverEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="text_format">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
<div class="col-md-4"><p>
    <a asp-action="SendPrivateMessage" class="text_format">Utwórz nową wiadomość</a>
</p></div>
