@model MedicalClinic.Models.DoctorViewModels.VisitsViewModel

@{
    ViewData["Title"] = "Historia wizyt";
}

<h2>Historia wizyt</h2>

<h3><b>Wizyta</b></h3>
<br />
<a asp-area="" asp-controller="Doctor" asp-action="Calendar">Powrót</a>
<br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-5" style="border: 1px solid #CCC; margin: 20px; padding: 20px;">
            <b>Data wizyty:</b> @Html.DisplayFor(model => model.DateOfApp)<br />
            <b>Pacjent:</b> @Html.DisplayFor(model => model.PatientFirstName) @Html.DisplayFor(model => model.PatientLastName)<br /><br />

            @if(Model.Edit)
            {
                <div class="col-md-12">
                @if (Model.DeseaseName != null)
                {
                    <h4>Diagnoza</h4>
                    <b>Choroba:</b> @Html.DisplayFor(model => model.DeseaseName)<br />
                    <b>Opis:</b> @Html.DisplayFor(model => model.Synopsis)<br />
                    <b>Objawy:</b> @Html.DisplayFor(model => model.Symptoms)<br />
                    <hr />
                }
                else
                {
                    <a asp-area="" asp-controller="Doctor" asp-action="AddDiagnosis" asp-route-id="@Model.Id">Dodaj diagnozę</a><br /><br />
                }

                @if (Model.ExpDate != null)
                {
                    <div class="col-md-12" padding-right: 5px;">
                        <hr />
                        <h4>Recepta</h4>
                        <b>Data ważności:</b> @Html.DisplayFor(model => model.ExpDate)<br />
                        <b>Leki:</b>
                        <ul>
                            @foreach (var med in Model.NameofMedicine)
                            {
                                <li>@med</li>
                            }
                        </ul>
                        <br />
                        <b>Opis:</b> @Html.DisplayFor(model => model.Descrpition)<br />
                        <hr />
                    </div>
                }
                else
                {
                    <a asp-area="" asp-controller="Doctor" asp-action="AddRecipe" asp-route-id="@Model.Id">Dodaj receptę</a><br /><br />
                }

                @if (Model.Referral.Any())
                {
                    foreach (var item in Model.Referral)
                    {
                        <div class="col-md-12">
                            <hr />
                            <h4>Skierowanie</h4>
                            <b>Data wystawienia:</b> @Html.DisplayFor(modelItem => item.DateOfIssuance)<br />
                            <b>Badanie:</b> @Html.DisplayFor(modelItem => item.NameOfExamination)<br />
                            <hr />
                        </div>
                    }
                }
                <a asp-area="" asp-controller="Doctor" asp-action="AddReferral" asp-route-id="@Model.Id">Dodaj skierowanie</a><br /><br />
            </div>
            }
        </div>
    </div>
</div>
