@model IEnumerable<MedicalClinic.Models.PatientViewModels.VisitRegistrationViewModel>

@{
    ViewData["Title"] = "Rejestracja na wizytę";
}

<h4>@ViewData["Title"]</h4>

    @if(Model.Any(o => o.CardId != null))
    {
        <ul class="nostyle_ul">
            @foreach (var item in Model)
            {
                <li><div class="doctors_div"><b><a asp-action="SelectDate" asp-route-id="@item.Id" class="text_information">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</a></b><br/>@Html.DisplayFor(modelItem => item.DayofWeek) @Html.DisplayFor(modelItem => item.StartHour) - @Html.DisplayFor(modelItem => item.EndHour)</div></li>
            }
        </ul>
    }
    else
    {
        <span class="text_information">Nie można zapisać na wizytę. Ten pacjent jeszcze nie ma założonej karty pacjenta.</span>
    }

